body {
	font-family: Helvetica, Calibri, sans-serif;
}
#main {
  background-repeat: no-repeat;
	background-position: center top;
	max-width: 100%;
	padding-top: 20px;
  background-color: #F0F0F0;
}
#title {
  color: #000;
	font: Helvetica;
	font-size: 100px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	max-width: 100%;
}
#img-div {
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}
#image {
  max-width: 100%;
  height: auto;
}
#img-caption {
  font-style: italic;
  text-align: center;
}
#tribute-info {
  text-align: center;
  word-wrap: break-word;
}
.italic {
  font-style: italic;
}